<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot Integrado</title>
    <link rel="icon" type="image/x-icon" href="https://echodb-rlca.onrender.com/static/img/favicon.ico">
    <link rel="stylesheet" href="https://echodb-rlca.onrender.com/static/css/styles.css">
    <!-- Si tienes estilos personalizados -->
</head>

<body>
    <h1>Website del cliente externo</h1>


    <script src="http://127.0.0.1:5010/static/js/chatbot.js"
        data-api-key="kt185XG1s9pzOHA5Tb2toE7X8wfynl_sANyduuFPhc4="></script>
    <!-- <script src="https://echodb-rlca.onrender.com/static/js/chatbot.js" data-api-key="your-api-key"></script> -->

</body>

</html>